{%extends 'base.html'%}

{% load bootstrap4 %}
{% load static%}




{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/landing.css'   %}">
{% endblock %}


{% block content %}
{{block.super}}

<div class="main-image">
  <div class="inner">



<div class="cen">



  <form class="form" role="search" action="{% url 'search_results' %}">
    <div class="input-group">
      <input type="text" class="form-control" placeholder=" Search by category" name="category" style="opacity: 0.5; color: black;">  
       
    </div>
    
  </form>
</div>

    <span class="cen"> <small>Trending searches Nature,travel,memes</small></span>
    <a class="button" href="#">Click here </a>
  </div>
</div>











 <!--image slides section-->
 <!-- <div>
  <div class="row">
    <div class="col-lg-12">
      <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#slides" data-slide-to="0" class="active"></li>
          <li data-target="#slides" data-slide-to="1"></li>
          <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/top2.jpg' %}" alt="background image" class="img-fluid"  />
            <div class="carousel-caption ">
              <h3>For The Gram</h3>
              <br />
              <a href="#">
                <button type="button" class="btn btn-primary btn-lg">
                  Photography
                </button>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/top3.jpg'   %}" alt="background image2" class="img-fluid" />
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/top1.jpg'   %}" alt="background image3" class="img-fluid" />
            <div class="carousel-caption" id="african-caption">
              <h1>Amazing Pictures</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->





{% endblock %}
