{% load bootstrap4 %}
{% load static%}


<nav class="navbar navbar-expand-lg navbar-light" id="navMain">
        <div class="container navigation header_right wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
              <a class="navbar-brand" href="/"><img src="{% static 'images/logo3 gallery.png'   %}" class="" style="width:70px"> Picha-Bucket</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active"><a class="nav-link" href="/"> HOME <span class="sr-only">(current)</span></a></li>
                  <li class="nav-item"><a class="nav-link" href="/" data-toggle="#" data-target="#about">ABOUT</a></li>
                  <li class="nav-item"><a class="nav-link open-nav" style="cursor:pointer">LOCATION</a></li>
                </ul>
                <ul class="navbar-nav left">
                    <a class="nav-item nav-link ml-auto social" href="/" target="_blank"><i class="fab fa-github"></i></a>
                    <a class="nav-item nav-link ml-auto social" href="/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="nav-item nav-link ml-auto social" href="/" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="nav-item nav-link ml-auto social" href="/" target="_blank"><i class="fab fa-facebook"></i></a>
                </ul>
              </div>
          </div>
    </nav>