{% load bootstrap4 %}
{% load static%}


  {% block styles %}
       {% bootstrap_css %}
       <link rel="stylesheet" href="{% static 'css/navigation.css'   %}">

   {% endblock %}

<!---Navigation -->
<nav id="nav-main" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid " >
    <a id="logo" class="logo" href="/">
      
      
      <img src="{% static 'images/logo3 gallery.png'   %}"  alt="logo" style="width:50px">
    
    
    </a>

  <div class="nav">
    <li >
     <button  type="button" class="btn btn-outline-primary"> <a class="nav-link" href="#">Locations</a>  </button>


      <ul class="dropdown" style="cursor: pointer;" >
  
        {% for place in location %}

        <li><a href="{% url 'location_image' location_id=place.id %}">
        
          {{place.name}}
        </a> </li>
        {% empty %}
        <li><a href="#"></a> No locations </li>
        {% endfor %}
      </ul>




    </li>

  </div>
</nav>


