{%extends 'base.html'%}

{% load bootstrap4 %}
{% load static%}




{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/search.css'   %}">
{% endblock %}


{% block content %}
{{block.super}}

<div class="main-image">
  <div class="inner">

    
      {% if images%}
        <h2>Found {{ images|length }} images of {{message}}</h2>
      {% else %}
        <h2> Found 0 images of {{message}}</h2>
      {% endif %}
  
<div class="cen">

</div>

    <a class="button" href="/">Home Page</a>
  </div>
</div>



<div class="main">
  <div class="gallery">
    {% for image in images %}
    <div class="img">
      <img src="{{image.image.url}}" alt="image"  class="img-fluid">
      <div class="name" style="color: black;">
        <h4>{{image.name}}</h4>
      </div>
    </div>

    {% empty %}
    <div class="row">
      <h2 class="text-center">There Are No Images for this category yet</h2>
    </div>
    {% endfor %}
    
  </div>
</div>
















{% endblock %}