html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
}

.main-image{
  position: relative;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/static/images/top1.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
  overflow: hidden;

}

.inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;

}

.inner h1{
  margin: 0;
  font-size: 70px;
}

.inner h2{
  margin: 0;
  font-size: 20px;
  color: white;
}

.inner h1 span{
  border: 6px solid white;
  padding: 6px 14px;display: inline-block;
}



.cen{
  margin: 20px;
  display: block;
  font-size: 22px;
}

.button{
  color: black;
  padding: 10px 24px;
  background: white;
  text-decoration: none;
  border-radius: 12px;
  transition: .6s;
}

.button:hover{
  opacity: .6;

}